html {
    background-color: rgb(76, 198, 255);
}

body {
    width: 75%;
   margin: 0 auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#burger {
    display: block;
   margin: auto;
   size: 1000px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    margin: 50px;
}

.burgerAvailable {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #faffff;
    border: none;
}

.burgerAvailable:hover {
    background-color: #faffff;
}

.burgerEaten {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #ffd1c9;
}

h2 {
     text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: rgb(238, 244, 245);
}

.addBurgerButton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(76, 255, 225);
    border: none;
}

.addBurgerButton:active {
   background-color: rgb(76, 213, 255);
}

.burgerFooter {
   background-color: rgb(130, 76, 255);
   padding: 20px 0;
}